svg {
  margin-left: auto;
  margin-right:auto;
  display: block;
  padding-bottom: 10px;
}

rect {
  stroke: black;
}

rect.white {
  fill: white;
}

rect.black {
  fill: black;
}

#instrument {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
